<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Websocket Client</title>
    <link
      href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css"
    />
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <body>
    <main id="v-app">
      <section class="alerts">
        <alerts-component :items="alerts"></alerts-component>
      </section>
      <section class="chat">
        <h1>Chat</h1>
        <form>
          <input v-model="text" type="text" />
          <button type="submit" @click.prevent="sendChatMessage()">Send</button>
        </form>
        <div class="tab-row">
          <button
            class="tab-btn"
            :class="{ active: activeRoom == 'general' }"
            @click="activeRoom = 'general'"
          >
            General
          </button>
          <button
            class="tab-btn"
            :class="{ active: activeRoom == 'typescript' }"
            @click="activeRoom = 'typescript'"
          >
            Typescript
          </button>
          <button
            class="tab-btn"
            :class="{ active: activeRoom == 'nestjs' }"
            @click="activeRoom = 'nestjs'"
          >
            Nestjs
          </button>
        </div>
        <div class="tab-row">
          Status: {{ isMemberOfActiveRoom ? 'Joined' : 'NOT Joined' }}
          <button @click="toggleRoomMembership()">
            {{ isMemberOfActiveRoom ? 'Leave' : 'Join' }}
          </button>
        </div>
        <ul>
          <li v-for="msg of messages[activeRoom]">
            <strong>{{ msg.sender }}</strong> {{ msg.message }}
          </li>
        </ul>
      </section>
    </main>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
